
.header-div {display: flex;
            background-color:ffffff;
            justify-content: space-around;
            align-items: center;
            border: 1px;
            border-style: solid;
        }
.list {display: flex;
       column-gap:20px;
       text-align: center;
       font-weight: 500;   
      }
.list li {color: black;
         }
.logo-swiss {width: 100%;
            }
    a:hover { font-size: 20px;
            }
.header { position: fixed;
        z-index: 10;
        }
.title-div { text-align: center;
             align-items: center;
             margin-top: 52px;
             max-width: 1140px;
             
             }
.title-div h1 {margin-bottom: 30px;
              font-size: 60px;}
.title-div span {color: red;}
.title-div h3 { font-size: 50px;
}
.main-text-div {max-width: 1140px;
                margin-top: 80px;
                align-items: center;
                text-align: center;
                background-color: yellow;
                font-family: "Poppins", sans-serif;
                color: grey;
            }
        
