
.header-div {display: flex;
            background-color:ffffff;
            justify-content: space-around;
            align-items: center;
            border: 1px;
            border-style: solid;
            
        }
.list {display: flex;
       column-gap:20px;
       text-align: center;
       font-weight: 500;   
      }
.list li {color: black;
         }
.logo-swiss {width: 100%;
            }
    a:hover { font-size: 20px;
          text-decoration: underline;
          background-color: red;
            }
header { position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
        background-color: white;
        }
.title-div { text-align: center;
             align-items: center;
             margin-top: 110px;
             max-width: 1140px;
             
             }
.title-div h1 {margin-bottom: 30px;
              text-align: center;
              align-items: center;             
              font-size: 60px;}
.title-div span {color: red;}
.title-div h3 { font-size: 50px;
        text-align: center;
        align-items: center;
        ;
}
.main-text-div {max-width: 740px;
                margin-top: 60px;
                align-items: center;
                text-align: center;
                position: relative;
                background-color: white;
                border: 1px;
                border-radius: 10%;   
                ;            
               }
 .main-photo {width: 100%;      
             }
.main-text {font-size: 20px;
            font-family: "Open Sans", sans-serif;
            color: black;
            
          }
.image-div {position: absolute;
            margin-top: 50px;
            width: 100%;
        padding: auto;}

